/* All typography styles should go in here */

p{
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1{
	font-size: 27px;
}
h2{
	font-size: 21px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 15px;	
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}