/* Variables */

/* Color Variables */
$white: #FFFFFF;
$black: #000000;
$red: #FF0000;

/* Grid Variables */
/* Use these if your project is based on a grid system - 9px is just a placeholder measurement (feel free to change it) */
$grid-x: 9px;
$grid-y: 9px;